@charset "utf-8";

body {
    background: yellowgreen;
}
.container {
    display: flex;
    gap: 1rem;
    height: 300px;
}
.box {
    display: flex;
    height: 300px;
    /* overflow: hidden */
}
.box p {
    background: white;
}
.box > * {
    flex: 1;
} 
/* p.396 Media Query 구문
   미디어란? PC, 스마트폰, 태블릿, PDA, 프로젝터,.. 등등 화면 출력장치(음성 출력장치) */

@media screen and (max-width: 760px) {
    .container {
        flex-direction: column;
    }
}
@media screen and (max-width: 480px) {
    .container {
        height: auto;
    }
    .box {
        height: auto;
        flex-direction: column;
    }
    .box > p {
        flex: 3;
        height: 300px;
    }
}